<a href="https://colab.research.google.com/github/ayushm1998/machinelearning/blob/master/pandas_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
list=["Ayush",12,30]
list1=["Nimit",24,55]
list2=["Avinash",21,65]

In [0]:
df=pd.DataFrame([list,list1,list2],columns=['Name','Age','Marks'])

In [5]:
df

      Name  Age  Marks
0    Ayush   12     30
1    Nimit   24     55
2  Avinash   21     65